/* -----------------------------------------------      

* Filename:	mobile.css
* Description:	mobile CSS
* Website: 	koderoot.net
* Author:	TC

----------------------------------------------- */

@media only screen 
and (min-device-width : 320px)
and (max-device-width: 480px) {

body {
	width: 80em;
	margin: 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
}

footer {
	display: block;
    	position: fixed;
    	bottom: 10%;
    	left: 0;
    	height: 10%;
    	background-color: white;
    	width: 100%;
    	margin: auto;
    	padding-top: 1%;
    	text-align: center;
    	color: #000000;
    	font-family: Verdana, Arial, sans-serif;
    	font-weight: bold;
    	font-size: 12px;
}

img.footerimage {
    	height: 100%;
    	margin-left: auto;
    	margin-right: auto;
}

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*	#reddit {
	float: left;
	left: -1%;
	position: absolute;
	}
*/

#fortune {
	float: right;
	left: 1%;
	top: 25%;
	margin: 0;
	position: absolute;
}

#weather {
	float: right;
	left: -150%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 54em;
	height: 24%;
	width: auto;
	border-style: none;
	border: none;
}

#rightarrow {
	float: right;
	right: -1%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: -20em;
	height: 24%;
	width: auto;
}

#uptime {
	text-align: center;
    	clear: both;
    	position: relative;
    	bottom: 3em;
    	color: black;
}

#clock { position: absolute; }

.page-wrap {
	float: none;
	width: 100%;
	margin: 0 auto;
}

link { color: #FF4E0D; }
a:visited { color: #FF4719; }
a:link { color: #FF4E0D; }
a:hover { color: #676767; }

}
