/* -----------------------------------------------      

* Filename:	style.css
* Description:	Main CSS
* Website: 	koderoot.net
* Author:	TC

----------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Orbitron|Inconsolata|Cuprum|Source+Code+Pro);

html {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 1%;
        background-color: #d6e8ff;
}

*, *:before, *:after {
        box-sizing: inherit;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
}

body {
    	max-width: 55%;
    	margin-left: auto;
        margin-right: auto;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px #888888;
}

footer {
    	display: block;
    	background-color: #FFFFFF;
    	width: 100%;
    	margin: auto;
    	text-align: center;
    	color: #000000;
    	font-size: 80%;
	font-family: 'Orbitron', Verdana, sans-serif;
	overflow: hidden;
}

img.footerimage {
    	height: 50%;
    	margin-left: auto;
    	margin-right: auto;
}

h1 { font-family: 'Orbitron', Arial, sans-serif; text-align: left; }
 
.page-wrap {
     	position: relative;
     	max-width: 87%;
	overflow: hidden;
}

#content {
        font-family: 'Source Code Pro', Arial, sans-serif;
        font-size: 100%;
	line-height: 140%;
	padding-left: 15%;
        background-color: #FFFFFF;
}

#uptime {
        text-align: center;
        clear: both;
        position: relative;
        bottom: 3em;
        color: black;
	font-weight: bold;
}

ul { list-style: none; }
ul#left { float: left; }
ul#right { float: right; }

span#years { font-family: 'Cuprum', Arial, Verdana, sans-serif; font-size: 80%; }
link { color: #FF4E0D; }
a:visited { color: #FF4719; }
a:link { color: #4b84ff; text-decoration: none; }
a:hover { color: #0957ff; }

a {
	color: #4b84ff;
	-o-transition:.5s;
  	-ms-transition:.5s;
  	-moz-transition:.5s;
  	-webkit-transition:.5s;
  /* ...and now for the proper property */
  	transition:.5s;
}
