/* -----------------------------------------------      

* Filename:	style.css
* Description:	Main CSS
* Website: 	koderoot.net
* Author:	TC

----------------------------------------------- */

	body {
		width: 80em;
		height: 80%;
		margin: 0 auto;
		font-family: Verdana, Tahoma, Arial, sans-serif;
		text-align: center;
	}

  footer {
	  display: block;
	  position: fixed;
	  bottom: -4%;
    left: 0;
    height: auto;
    background-color: white;
	  width: 100%;
	  margin: auto;
	  padding-top: 1%;
	  text-align: center;
    color: #000000;
	  font-family: Verdana, Arial, sans-serif;
	  font-weight: bold;
	  font-size: 12px;
	}

	img.footerimage {
  	height: 50%;
  	margin-left: auto;
  	margin-right: auto;
  }

	img {
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	#reddit {
		float: left;
		left: -90%;
		position: absolute;
	}

	#stock {
		float: left;
		left: -75%;
		top: 85%;
		position: absolute;
	}

	#fortune {
		float: right;
		right: -80%;
		top: 10%;
		width: 320px;
		padding: 10px;
		margin: 0;
		position: absolute;
		font-family: Courier, "Courier New", Arial, sans-serif;
		font-size: 14px;
	}

	#weather {
		float: right;
		right: -75%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		bottom: 49em;
		height: 24%;
		width: auto;
		border-style: none;
		border: none;
	}
/*	
  #rightarrow {
		float: right;
		right: -100%;
		margin-left: auto;
		margin-right: auto;
		position: absolute;
		bottom: -20em;
		height: 24%;
		width: auto;
	}
*/
	#uptime {
		text-align: center;
		clear: both;
		position: relative;
		bottom: 3em;
		color: black;
	}

	#clock {
		position: absolute;
	}

	.page-wrap {
		position: relative;
		width: 500px;
		margin: 0 auto;
	}

	link {
		color: #FF4E0D;
	}

	a:visited {
		color: #FF4719;
	}

	a:link {
		color: #FF4E0D;
	}

	a:hover {
		color: #676767;
	}
