/* -----------------------------------------------      

* Filename:	style.css
* Description:	Main CSS
* Website: 	koderoot.net
* Author:	TC

----------------------------------------------- */

	body {
	width: 80em;
	height: 80%;
	margin: 0 auto;
	font-family: Tahoma, Verdana, Arial, sans-serif;
	text-align: center;
	}

	footer {
	clear: both;
	width: 45em;
	margin: auto;
	height: 30px;
	background-color: #1E2127;
	color: #ffffff;
	font-family: Verdana, Arial, sans-serif;
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	}

	img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	}

/*	#reddit {
	float: left;
	left: -90%;
	position: absolute;
	}
*/
	#stock {
	float: left;
	left: -75%;
	top: 5%;
	position: absolute;
	}

	#fortune {
	float: right;
	right: -80%;
	top: 10%;
	width: 320px;
	padding: 10px;
	margin: 0;
	position: absolute;
	}

	#weather {
	float: right;
	right: -75%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: 49em;
	height: 24%;
	width: auto;
	border-style: none;
	border: none;
	}
/*
	.lastfm {
	float: left;
	left: -88%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: -2em;
	border: 0;
	border-style: solid;
	border-width: 0px;
	border-color: blue;
	}
*/
	#rightarrow {
	float: right;
	right: -100%;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	bottom: -20em;
	height: 24%;
	width: auto;
	}

	.footerimage {
	height: auto;
	margin-left: auto;
	margin-right: auto;
	}

	#uptime {
	text-align: center;
	clear: both;
	position: relative;
	bottom: -15em;
	}

	#clock {
	position: absolute;
	}

	.page-wrap {
	position: relative;
	width: 500px;
	margin: 0 auto;
	}

	link {
	color: #FF4E0D;
	}

	a:visited {
	color: #FF4719;
	}

	a:link {
	color: #FF4E0D;
	}

	a:hover {
	color: #0DC2FF;
	}
