/* -----------------------------------------------      

* Filename:	style.css
* Description:	Main CSS
* Website: 	koderoot.net
* Edited:	TC

----------------------------------------------- */
@import url(https://fonts.googleapis.com/css?family=Duru+Sans|Oswald|Muli:300|Orbitron|Inconsolata|Cuprum|Source+Code+Pro);

/*
Code Author: Mark-Anthony Karam
Host: mark-anthony.ca
*/

h1
{
font-family: 'Oswald', sans-serif;
font-size: 30px;
text-transform: uppercase;
color: #216182;
}


/* Centres the page (this could be container)*/
.body {
    display:block;
    margin:0 auto;
    width:576px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    color: #999;
}


/* Labels are titles for the text fields. You can use a placeholder instead if you like*/
label
{
    display:block;
    margin-top:20px;
    letter-spacing:2px;
}

/* Centres the form within the page */
form
{
    margin:0 auto;
    width:459px;
    float: left;
}

/* Styles the text boxes */
input, textarea, file {
    width:439px;
    height:27px;
    background-color:#efefef;
    border-radius:5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #dedede;
    padding:10px;
    margin-top:3px;
    font-size:0.9em;
    color:#3a3a3a;
}

    input:focus, textarea:focus {
        border:1px solid #97d6eb;
    }

/* Styles the text area boxes (message field) */
textarea
{
    height:213px;
    background-color: #efefef;
}


/* Styles the submit button */
#submit {
    /* background:url(images/submit.png); */
    width:127px;
    height:48px;
    text-align: center;
    /* text-indent:-9999px; */
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/* Styles the submit hover */
#submit:hover {
    color:#fff;
    background-color: #216182;
    opacity:0.9;
}

/* Styles the cancel button*/
#cancel {
    /* background:url(images/cancel.png); */
    width:127px;
    height:28px;
    text-align: center;
    /* text-indent:-9999px; */
    border:none;
    margin-top:20px;
    cursor:pointer;
}

/* Styles the cancel hover */
#cancel:hover {
    color:#fff;
    background-color: #000;
    opacity:0.9;
}

html {
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        margin: 1%;
        background-color: #d6e8ff;
}

*, *:before, *:after {
        box-sizing: inherit;
        -webkit-box-sizing: inherit;
        -moz-box-sizing: inherit;
}

body {
    	max-width: 55%;
    	margin-left: auto;
        margin-right: auto;
	background-color: #FFFFFF;
	box-shadow: 5px 5px 10px #888888;
}

footer {
    	display: block;
    	background-color: #FFFFFF;
    	width: 100%;
    	margin: auto;
    	text-align: center;
    	color: #000000;
    	font-size: 80%;
	font-family: 'Orbitron', Verdana, sans-serif;
	overflow: hidden;
}

img.footerimage {
    	height: 50%;
    	margin-left: auto;
    	margin-right: auto;
}

img {
    	margin-left: auto;
    	margin-right: auto;
}

h1 { font-family: 'Orbitron', Arial, sans-serif; font-size: 300%; text-align: center; }
 
.page-wrap {
     	position: relative;
     	max-width: 80%;
	margin: 0 auto;
	overflow: hidden;
}

#uptime {
        text-align: center;
        clear: both;
        position: relative;
        bottom: 3em;
        color: black;
	font-weight: bold;
}

span#years { font-family: 'Cuprum', Arial, Verdana, sans-serif; font-size: 80%; }
link { color: ##4B84FF; }
a:visited { color: #4B84FF; }
a:link { color: #4b84ff; text-decoration: none; }
a:hover { color: #0957ff; }

a {
        color: #4b84ff;
        -o-transition:.5s;
        -ms-transition:.5s;
        -moz-transition:.5s;
        -webkit-transition:.5s;
  /* ...and now for the proper property */
        transition:.5s;
}
